In [1]:
#-------------------
# Author: Iman Irajian
# 		  iman.irajian@gmail.com
# Subject: A closer look at groupby() and lambda on the Pandas DataFrame
#
# Date: Thursday, January 21, 2021
#-------------------

In [2]:
import pandas as pd
import numpy as np

In [3]:
products_raw = {"Apple": {"price":1000, "weight":10},
                "Camera": {"price":80000, "weight":100},
                "Laptop": {"price":901000, "weight":4500},
                "Watch": {"price":70100, "weight":90},
                "Bag": {"price":4000, "weight":50}}

transaction_raw = {0: {"product":"Apple", "count":3, "discount":500, "date":"01-21-2021"},
                   1: {"product":"Camera", "count":1, "discount":500, "date":"11-20-2020"},
                   2: {"product":"Apple", "count":20, "discount":1000, "date":"01-03-2021"},
                   3: {"product":"Bag", "count":2, "discount":0, "date":"01-04-2020"},
                   4: {"product":"Bag", "count":2, "discount":100, "date":"01-05-2021"},
                   5: {"product":"Bag", "count":6, "discount":1000, "date":"01-10-2021"},
                   6: {"product":"Watch", "count":1, "discount":100, "date":"05-18-2020"},
                   7: {"product":"Laptop", "count":1, "discount":0, "date":"01-16-2021"},
                   8: {"product":"Camera", "count":4, "discount":9000, "date":"08-08-2020"}}

In [4]:
products = pd.DataFrame(products_raw).T
print( products )

         price  weight
Apple     1000      10
Camera   80000     100
Laptop  901000    4500
Watch    70100      90
Bag       4000      50

In [5]:
transactions = pd.DataFrame(transaction_raw).T
print( transactions )

  product count discount        date
0   Apple     3      500  01-21-2021
1  Camera     1      500  11-20-2020
2   Apple    20     1000  01-03-2021
3     Bag     2        0  01-04-2020
4     Bag     2      100  01-05-2021
5     Bag     6     1000  01-10-2021
6   Watch     1      100  05-18-2020
7  Laptop     1        0  01-16-2021
8  Camera     4     9000  08-08-2020

In [6]:
# sort products by price
# Notes: 
#       1- By default ascending=True
#       2- Sort is outplace, i.e., after sorting products remain unchanged
#          You can set inplace=True if you want
print( products.sort_values(by="price") )

         price  weight
Apple     1000      10
Bag       4000      50
Watch    70100      90
Camera   80000     100
Laptop  901000    4500

In [7]:
# sort products by price descendingly
print( products.sort_values(by="price", ascending=False) )

         price  weight
Laptop  901000    4500
Camera   80000     100
Watch    70100      90
Bag       4000      50
Apple     1000      10

In [8]:
# Lets sort by print(index
print( products.sort_index() )

         price  weight
Apple     1000      10
Bag       4000      50
Camera   80000     100
Laptop  901000    4500
Watch    70100      90

In [9]:
print( transactions )

  product count discount        date
0   Apple     3      500  01-21-2021
1  Camera     1      500  11-20-2020
2   Apple    20     1000  01-03-2021
3     Bag     2        0  01-04-2020
4     Bag     2      100  01-05-2021
5     Bag     6     1000  01-10-2021
6   Watch     1      100  05-18-2020
7  Laptop     1        0  01-16-2021
8  Camera     4     9000  08-08-2020

In [10]:
# How many distinct transactions are according to the names of products?
print( len( transactions.groupby("product") ) ) 
print( transactions.groupby("product").ngroups )

5
5

In [11]:
# How many times each products have been sold?
print( transactions.groupby("product").sum()["count"] )

product
Apple     23
Bag       10
Camera     5
Laptop     1
Watch      1
Name: count, dtype: int64

In [12]:
# Maximum discount for each products?
print( transactions.groupby("product").max()["discount"] )

product
Apple     1000
Bag       1000
Camera    9000
Laptop       0
Watch      100
Name: discount, dtype: int64

In [13]:
# Minimum of each feature with respect to distinct product names
print( transactions.groupby("product").min() )
# or
print( transactions.groupby("product").agg(np.min) ) # or min
# or
print( transactions.groupby("product").agg("min") )
# or
print( transactions.groupby("product").aggregate("min") )

         count  discount        date
product
Apple        3       500  01-03-2021
Bag          2         0  01-04-2020
Camera       1       500  08-08-2020
Laptop       1         0  01-16-2021
Watch        1       100  05-18-2020
         count  discount        date
product
Apple        3       500  01-03-2021
Bag          2         0  01-04-2020
Camera       1       500  08-08-2020
Laptop       1         0  01-16-2021
Watch        1       100  05-18-2020
         count  discount        date
product
Apple        3       500  01-03-2021
Bag          2         0  01-04-2020
Camera       1       500  08-08-2020
Laptop       1         0  01-16-2021
Watch        1       100  05-18-2020
         count  discount        date
product
Apple        3       500  01-03-2021
Bag          2         0  01-04-2020
Camera       1       500  08-08-2020
Laptop       1         0  01-16-2021
Watch        1       100  05-18-2020

In [14]:
# Total price of each product
# We need to join products to see the price of each product
trans_prods = transactions.join(products, on="product")
print(trans_prods)

# Then times each product count with price subtract discount
trans_prods.groupby("product").apply(lambda g: print( g["product"].values[0] + ":\t", (g["count"]*g["price"]-g["discount"]).sum() ))

  product count discount        date   price  weight
0   Apple     3      500  01-21-2021    1000      10
1  Camera     1      500  11-20-2020   80000     100
2   Apple    20     1000  01-03-2021    1000      10
3     Bag     2        0  01-04-2020    4000      50
4     Bag     2      100  01-05-2021    4000      50
5     Bag     6     1000  01-10-2021    4000      50
6   Watch     1      100  05-18-2020   70100      90
7  Laptop     1        0  01-16-2021  901000    4500
8  Camera     4     9000  08-08-2020   80000     100
Apple:	 21500
Bag:	 38900
Camera:	 390500
Laptop:	 901000
Watch:	 70000

Empty DataFrame
Columns: []
Index: []

In [15]:
print( transactions.join(products, on="product") )

  product count discount        date   price  weight
0   Apple     3      500  01-21-2021    1000      10
1  Camera     1      500  11-20-2020   80000     100
2   Apple    20     1000  01-03-2021    1000      10
3     Bag     2        0  01-04-2020    4000      50
4     Bag     2      100  01-05-2021    4000      50
5     Bag     6     1000  01-10-2021    4000      50
6   Watch     1      100  05-18-2020   70100      90
7  Laptop     1        0  01-16-2021  901000    4500
8  Camera     4     9000  08-08-2020   80000     100

In [16]:
# Pass custom function to calculate total weight for each transaction
def get_total_weight(group):
    return np.sum(group["count"])*group["weight"].iloc[0]
    
print( transactions.join(products, on="product").groupby("product").apply(get_total_weight) )

product
Apple      230
Bag        500
Camera     500
Laptop    4500
Watch       90
dtype: int64

In [17]:
# Maximum discount for each products?
print( transactions.groupby("product").max()["discount"] )

product
Apple     1000
Bag       1000
Camera    9000
Laptop       0
Watch      100
Name: discount, dtype: int64

In [18]:
# Think about the output
def f(column):
    print(column.name)
    return len(column.name)
    
print( transactions.groupby("product").agg(f) )

count
count
count
count
count
discount
discount
discount
discount
discount
date
date
date
date
date
         count  discount  date
product
Apple        5         8     4
Bag          5         8     4
Camera       5         8     4
Laptop       5         8     4
Watch        5         8     4

In [19]:
# Putting all together
# Sort transaction by name, then (same names) by count, then (same names and count) by discount (ascendingly)

# We want this result:
target = transactions.sort_values(by=["product", "count", "discount"])
print( target )

print("-"*5)

# Note: DataFrame().groupby() returns a "DataFrameGroupBy" object which is a list of tuples
group_by_names = transactions.groupby("product", group_keys=False) # By name, Search for group_keys=False effect
print( group_by_names )

print("-"*5)

# Lets see what is "DataFrameGroupBy" is
for group_name, group_dataframe in group_by_names:
    print(group_name, ":")
    print(group_dataframe)
    
def print_groupby(group):
    for group_name, group_dataframe in group:
        print(group_name, ":")
        print(group_dataframe)
# or
print()
group_by_names.apply(lambda group_by_name: print(group_by_name))

# or 
print()
group_by_names.apply(print)

# Note: DataFrame().groupby() by default sort the values, so Apple comes first and Watch goes the last

print("-"*5)

# Now we must sort each group seperately by count, then discount
groups_by_names_counts_discount = group_by_names.apply(
    lambda group_by_name: group_by_name.groupby("count", group_keys=False).apply(
        lambda group_by_name_count: group_by_name_count.groupby("discount", group_keys=False).apply(
            lambda g:g
        )
    ) 
)
# Lets see 
print(groups_by_names_counts_discount)
        
# Compare to target:
print( target )

  product count discount        date
0   Apple     3      500  01-21-2021
2   Apple    20     1000  01-03-2021
3     Bag     2        0  01-04-2020
4     Bag     2      100  01-05-2021
5     Bag     6     1000  01-10-2021
1  Camera     1      500  11-20-2020
8  Camera     4     9000  08-08-2020
7  Laptop     1        0  01-16-2021
6   Watch     1      100  05-18-2020
-----
<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000020CD59AF1F0>
-----
Apple :
  product count discount        date
0   Apple     3      500  01-21-2021
2   Apple    20     1000  01-03-2021
Bag :
  product count discount        date
3     Bag     2        0  01-04-2020
4     Bag     2      100  01-05-2021
5     Bag     6     1000  01-10-2021
Camera :
  product count discount        date
1  Camera     1      500  11-20-2020
8  Camera     4     9000  08-08-2020
Laptop :
  product count discount        date
7  Laptop     1        0  01-16-2021
Watch :
  product count discount        date
6   Watch     1      100  05-18-2020

  product count discount        date
0   Apple     3      500  01-21-2021
2   Apple    20     1000  01-03-2021
  product count discount        date
3     Bag     2        0  01-04-2020
4     Bag     2      100  01-05-2021
5     Bag     6     1000  01-10-2021
  product count discount        date
1  Camera     1      500  11-20-2020
8  Camera     4     9000  08-08-2020
  product count discount        date
7  Laptop     1        0  01-16-2021
  product count discount        date
6   Watch     1      100  05-18-2020

  product count discount        date
0   Apple     3      500  01-21-2021
2   Apple    20     1000  01-03-2021
  product count discount        date
3     Bag     2        0  01-04-2020
4     Bag     2      100  01-05-2021
5     Bag     6     1000  01-10-2021
  product count discount        date
1  Camera     1      500  11-20-2020
8  Camera     4     9000  08-08-2020
  product count discount        date
7  Laptop     1        0  01-16-2021
  product count discount        date
6   Watch     1      100  05-18-2020
-----
  product count discount        date
0   Apple     3      500  01-21-2021
2   Apple    20     1000  01-03-2021
3     Bag     2        0  01-04-2020
4     Bag     2      100  01-05-2021
5     Bag     6     1000  01-10-2021
1  Camera     1      500  11-20-2020
8  Camera     4     9000  08-08-2020
7  Laptop     1        0  01-16-2021
6   Watch     1      100  05-18-2020
  product count discount        date
0   Apple     3      500  01-21-2021
2   Apple    20     1000  01-03-2021
3     Bag     2        0  01-04-2020
4     Bag     2      100  01-05-2021
5     Bag     6     1000  01-10-2021
1  Camera     1      500  11-20-2020
8  Camera     4     9000  08-08-2020
7  Laptop     1        0  01-16-2021
6   Watch     1      100  05-18-2020